*{
    padding: 0px;
    margin: 0px;
color: azure;
}


body{
    background-color: beige;
}
.focu{
    background-color: rgba(0, 0, 0, .5);
}

#proudactDescription{
    resize: none;
}

.box{
    box-shadow: 0px 0px 12px 0px rgba(255,255,255,0.75);
}
.ser{
    text-align: center !important;
}